# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
jspm_packages/

# Environment variables
.env

# Build files
dist/
build/ 